*{
    margin: 0px;
}

.main-nav-bar{
    background-color: #3298EA;
    height: 400px;
    width: 100%;
   
}
.news-options{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
.logo{
    height: 100px;
    width: 100px;
    
    margin-left: 300px;
}

.category-option{
    margin-top: 20px;
    
}
.category-word{
    font-size: 30px;
    margin-left: 600px;
    color: #041e34;
}
.underline{
   
    display: flex;
    justify-content: center;
    
}
.underline-yellow{
    background-color: rgb(128, 128, 14);
    height: 3px;
    width: 600px;
    margin-top: 5px;
}
.news-body{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    height: 300px;
    width: 400px;
    border: 2px solid black;
    margin-bottom: 20px;
}
.footer-box{
    background-color: #094474;
    height: 250px;
    width: 100%;
}
.some-info{
    color: white;
    
}
.list{
   padding-top: 30px;
   padding-left: 70%;
}
.logo-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    font-weight: 400;
    padding-top: 50px;
    padding-left: 20px;
}
